# Server Parameters
# For Docker, use 0.0.0.0 as SERVER_IP_ADDRESS
SERVER_IP_ADDRESS=0.0.0.0
SERVER_PORT=3000

# PostgreSQL Database Parameters
# For Docker, use the host machine IP or Docker network alias
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=